<h2 class="text-3xl text-black font-bold mt-5">Search gifs</h2>
<h3 class="text-sm text-black">Search gifs by name, description or tags</h3>

<section class="flex flex-col">
    <input 
        type="text"
        placeholder="Search gifs"
        class="mt-3 border text-black border-gray-300 rounded-md p-2"
        (keyup.enter)="onSearch(txtSearch.value)"
        #txtSearch
    />
</section>

<section class="border border-amber-300">
    <div class="pt-3 pb-3">
        <gif-list-component [arrayGifs]="searchGifs()" />
    </div>
</section>